{% trans_default_domain('FOSUserBundle') %}

{% extends "AppBundle::layout.html.twig" %}

{% block title %}Récupérer mon mot de passe{% endblock %}

{% block content %}
    <div class="background-image background-desktop"></div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">Récupérer mon mot de passe</h1>
                    <div class="box box-login center-block">
                        <div class="box-body">
                            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                            {{ form_widget(form) }}
                                <div>
                                    <button type="submit" class="btn btn-red">{{ 'resetting.request.submit'|trans }}</button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                        <script type="text/javascript">
                            $('document').ready(function(){
                                $('#fos_user_resetting_form_plainPassword_first').attr('placeholder', 'Nouveau mot de passe');
                                $('#fos_user_resetting_form_plainPassword_second').attr('placeholder', 'Confirmation du mot de passe');
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}