<div class="footer-margin">

</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-left">
                &copy; Copyright Agreed
            </div>

            <div class="col-md-6 footer-right">
                <ul>
                    <li><a href="{{ path("terms") }}">{{ 'footer.terms'|trans({}, 'App') }}</a></li>
                    <li><a href="{{ path("qa") }}">{{ 'footer.qa'|trans({}, 'App') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
