<div class="footer-margin">

</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-left">
                &copy; Tout droits réservés Agreed 2017
            </div>

            <div class="col-md-6 footer-right">
                <ul>
                    <li><a href="{{ path("terms") }}">Conditions générales d'utilisation</a></li>
                    <li><a href="{{ path("qa") }}">Foire aux questions</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
