/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app.scheduler.txt
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/
/data/
/web/app/dist/.sass-cache
/composer.lock
/app/config/parameters.yml