{% extends "AdminBundle::layout.html.twig" %}

{% set title = 'Administration' %}

{% block content %}
    <p>Vous êtes sur l'interface d'administration de la plateforme Agreed</p>
{% endblock content %}
