<ul class="nav navbar-top-links navbar-right">

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>
            <span style="font-weight: bold;">{{ app.user.username }}</span>
            <i class="fa fa-caret-down"></i>

        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="{{ path('home') }}"><i class="fa fa-eye"></i> Voir le site</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Se déconnecter</a>
            </li>
        </ul>
    </li>
</ul>