{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block content %}
    <div class="background-image background-home"></div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% include('AppBundle::flash-message.html.twig') %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('app/dist/js/jquery.geocomplete.js') }}"></script>
{% endblock %}
