{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}Foire aux questions{% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            <div class="row">
                <h1 class="text-center">Foire aux questions</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 data-toggle="collapse" data-target="#question-1" class="question-title">
                        <span class="fa fa-caret-right"> </span>
                        Comment créer un sondage
                    </h3>
                    <p id="question-1" class="text-justify collapse question">
                        La prodécure de création d'un sondage est simple.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}