{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}Foire aux questions{% endblock %}

{% block content %}
    <div class="background-image"></div>
    <div class="container">
        <div class="container-fluid">
            {% include('AppBundle::flash-message.html.twig') %}
            <div class="row">
                <h1 class="text-center">Foire aux questions</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 data-toggle="collapse" data-target="#question-1" class="question-title">
                        <span class="fa fa-caret-right"> </span>
                        Comment créer un sondage ?
                    </h3>
                    <p id="question-1" class="text-justify collapse question">
                        La prodécure de création d'un sondage est simple et se divise en trois étapes. Pendant la première étape, vous
                        devrez remplir les informations essentielles du sondage, c'est à dire, son titre, sa description, son type
                        (choix arbitraires ou dates) et s'il est possible de sélectionner plusieurs réponses. <br><br>

                        La seconde étape vous demandera de saisir l'ensemble des choix qui seront proposés dans votre sondage. Pour pouvoir valider
                        cette étape, il est nécessaire d'avoir au moins deux choix à l'intitulé différent. <br><br>

                        La dernière étape vous demandera d'indiquer toutes les personnes à qui vous voudrez envoyer ce sondage. Chaque personne indiquée (via son
                        nom d'utilisateur sur le site ou son adresse email) recevra alors un email avec un lien unique pour pouvoir répondre à votre sondage.
                    </p>
                </div>
                <div class="col-md-12">
                    <h3 data-toggle="collapse" data-target="#question-2" class="question-title">
                        <span class="fa fa-caret-right"> </span>
                        Qu'est ce que le markdown ?
                    </h3>
                    <p id="question-2" class="text-justify collapse question">
                        Markdown est un langage simple de mise en forme textuelle. Son but est d'offrir une syntaxe facile à lire et à écrire.
                        Un document formaté selon Markdown devrait pouvoir être publié comme tel, en texte, sans donner l’impression qu’il a
                        été marqué par des balises ou des instructions de formatage.
                        <br><br>
                        Pour mettre du texte en emphase, ce qui produit une mise en italique dans un navigateur courant : <br>
                        <strong>*quelques mots* ou  _quelques mots_</strong>
                        <br><br>
                        Pour mettre du texte en grande emphase, ce qui produit une mise en gras dans un navigateur courant : <br>
                        <strong>**plus important** ou __également important__</strong>
                        <br><br>
                        Comme dans les courriels, il est possible de faire des citations : <br>
                        <strong>> Ce texte apparaîtra dans un élément HTML "blockquote".</strong>
                        <br><br>
                        Pour créer une liste non ordonnée : <br>
                        <strong>
                            * Pommes <br>
                            * Poires <br>
                            * Sous élément avec au moins quatre espaces devant.
                        </strong>
                        <br><br>
                        Les titres sont créés avec un certain nombre de # avant le titre, qui correspondent au niveau de titre
                        souhaité (le HTML propose 6 niveaux de titres de "h1" à "h6") <br>
                        <strong>
                            # un titre de premier niveau <br>
                            #### un titre de quatrième niveau
                        </strong>
                        <br><br>
                        Pour créer des liens : <br>
                        <strong>[texte du lien](url_du_lien "texte pour le titre, facultatif")</strong>
                        <br><br>
                        Pour afficher une image : <br>
                        <strong>![Texte alternatif](url_de_l'image "texte pour le titre, facultatif")</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}