# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    secret:          ThisTokenIsNotSoSecretChangeIt

    editable.mailer_transport:  smtp
    editable.mailer_host:       127.0.0.1
    editable.mailer_user:       ~
    editable.mailer_password:   ~
    editable.mailer_auth_mode: login
    editable.mailer_port: ~
    editable.mailer_from: ~
    editable.mailer_from_alias: ~


    editable.date_format: "j M Y h:i:s"
    editable.google_api_key: ~
    editable.google_analytics_id: ~
    editable.google_analytics_view: ~

    editable.ovh_sms_consumer_key: ~
    editable.ovh_sms_application_key: ~
    editable.ovh_sms_application_secret: ~
    editable.default_professions: '{"Notaire": [], "Avocat": ["Penal", "Prud'' hommes", "Commerce"]}'

    editable.search_by_page: 10

    monetico:
        key: 12345678901234567890123456789012345678P0
        ept_number: 0000001
        version: '3.0'
        url_server: https://p.monetico-services.com/test/
        company_code: PROFLIB




    bills_directory: %kernel.root_dir%/../src/AdminBundle/Resources/bills/
    uploads_directory: %kernel.root_dir%/../web/app/uploads/

