{% trans_default_domain "App" %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>

    {% block content %}

    {% endblock %}

    <br><br>
    <strong>Services clients</strong><br>
    Directeur Commercial<br><br>

    Tél : 01.35.35.35.35<br>
    Port : 06.35.35.35.35
</body>
</html>
