{% trans_default_domain('App') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}{{ 'error.403'|trans }}{% endblock %}

{% block content %}
    <div class="background-image background-home"></div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="presentation col-md-12">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}