{% trans_default_domain('Profile') %}

{% extends('AppBundle::layout.html.twig') %}

{% block title %}Editer mon profil{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}
    <div class="background-image background-desktop"></div>
    <div class="container">
    <div class="container-fluid">
        {% include('AppBundle::flash-message.html.twig') %}
        <div class="row">
            <h1 class="text-center">Modifier mon profil</h1>
        </div>
        <div class="row">
            {% include('UserBundle::Profile/tab.html.twig') %}
            <div class="col-md-12">
                <div class="col-md-12">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
